.center{
    text-align: center;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.green{
    color: green;
}
.orange{
    color:orange;
}
.big{
    font-size: 30px;
}
.tiny{
    font-size: 10px;
}
.bold{
    font-weight: bold;
}
.styledFont{
    color: rgb(190, 0, 10) ;
    font-size: 25px;
    font-style: italic;
}
img{
border: 6px solid red ;
}